<!DOCTYPE html>
<html>
  <head>
        <meta charset="utf-8">

        <!-------------------------------------------------------------------------------------------------------------------------
        ____     _   _             _       _____         ____   __   __       _       _   _            ____          __  __  U _____ u  _____    _____    ____  U _____ u   ____     
   U | __")uU |"|u| |   ___     |"|     |_ " _|     U | __")u \ \ / /      |"|   U |"|u| |   ___    / __"| u     U|' \/ '|u\| ___"|/ |_ " _|  |"_  /uU /"___|u\| ___"|/U |  _"\ u  
    \|  _ \/ \| |\| |  |_"_|  U | | u     | |        \|  _ \/  \ V /     U | | u  \| |\| |  |_"_|  <\___ \/      \| |\/| |/ |  _|"     | |    U / // \| |  _ / |  _|"   \| |_) |/  
     | |_) |  | |_| |   | |    \| |/__   /| |\        | |_) | U_|"|_u     \| |/__  | |_| |   | |    u___) |       | |  | |  | |___    /| |\   \/ /_   | |_| |  | |___    |  _ <    
     |____/  <<\___/  U/| |\u   |_____| u |_|U        |____/    |_|        |_____|<<\___/  U/| |\u  |____/>>      |_|  |_|  |_____|  u |_|U   /____|   \____|  |_____|   |_| \_\   
    _|| \\_ (__) )(.-,_|___|_,-.//  \\  _// \\_      _|| \\_.-,//|(_       //  \\(__) )(.-,_|___|_,-.)(  (__)    <<,-,,-.   <<   >>  _// \\_  _//<<,-  _)(|_   <<   >>   //   \\_  
   (__) (__)    (__)\_)-' '-(_/(_")("_)(__) (__)    (__) (__)\_) (__)     (_")("_)   (__)\_)-' '-(_/(__)          (./  \.) (__) (__)(__) (__)(__) (_/ (__)__) (__) (__) (__)  (__) 
   ---------------------------------------------------------------------------------------------------------------------------->


        <title>gSchool Education</title>



        <!-- Sets initial viewport load and disables zooming  -->
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="keywords" content="Flat UI Design, UI design, UI, user interface, web interface design, user interface design, Flat web design, Bootstrap, Bootflat, Flat UI colors, colors">
        <meta name="description" content="BOOTFLAT is an open source Flat UI KIT based on Bootstrap CSS framework.
              And, for the designers, we offer a free PSD Download. It provides a faster, easier and less repetitive way for web developers or designers to create elegant web apps.">
        <link rel="shortcut icon" href="favicon_16.ico"/>
        <link rel="bookmark" href="favicon_16.ico"/>
        <!-- site css -->
      
        <!-- Typekit Fonts -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <script src="//use.typekit.net/wwk5ylh.js"></script>
        <script>try {
                Typekit.load();
            } catch (e) {
            }</script>
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->

        <%= javascript_include_tag 'site.min.js' %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
       <%= stylesheet_link_tag 'site.min.css'%>
     <%= stylesheet_link_tag 'bootflat/bootflat.css',"animate.css" %>
     
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "https://js.stripe.com/v1/" %>
    <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
    </head>
  <body class="home">
    <div class="docs-header header--noBackground">
    	<%= render "home/header" %>
      	<%= yield %>
        <%= render "home/footer" %>
    </div>
    <!-- <script src="video.js"></script> -->
    <%= javascript_include_tag 'video.js' %>
        <script>
            videojs.options.flash.swf = "/video-js.swf"
        </script>
        <script>
            $(document).ready(function () {
                $("#show-video").click(function () {
                    var i = 0;
                    $(".banner-data").fadeOut(function () {
                        i++;
                        if (i === 2) {
                            $(".video-js").show(function () {
                                $(".video-js").addClass("showVideo");
                                    $("video").trigger("play");
                            });
                        }
                    });
                    $(".index").addClass("video-up");
                })
            });



            $('.form').find('input, textarea').on('keyup blur focus', function (e) {

                var $this = $(this),
                        label = $this.prev('label');

                if (e.type === 'keyup') {
                    if ($this.val() === '') {
                        label.removeClass('active highlight');
                    } else {
                        label.addClass('active highlight');
                    }
                } else if (e.type === 'blur') {
                    if ($this.val() === '') {
                        label.removeClass('active highlight');
                    } else {
                        label.removeClass('highlight');
                    }
                } else if (e.type === 'focus') {

                    if ($this.val() === '') {
                        label.removeClass('highlight');
                    }
                    else if ($this.val() !== '') {
                        label.addClass('highlight');
                    }
                }

            });

            $('.tab a').on('click', function (e) {

                e.preventDefault();

                $(this).parent().addClass('active');
                $(this).parent().siblings().removeClass('active');

                target = $(this).attr('href');

                $('.tab-content > div').not(target).hide();

                $(target).fadeIn(600);

            });

        </script>
  </body>
</html>
